{% assign modules = site.modules %}
{% capture html %}
<ul>
{% for module in modules %}
    {% if module.url contains include.node %}
        {% assign remainder = module.url | remove_first: include.node %}
        {% assign stripped_slash = remainder | remove_first: '/' %}

        {% if stripped_slash contains '/' %}
            {% assign child = remainder | split: '/' | first %}
            {% assign child_node = include.node | append: child | append: '/' %}

            {% unless already contains child_node %}
                {% assign already = already | append: '|' | append: child_node %}
                {% assign index_url = child_node | append: 'index/' %}
                {% assign index = modules | where: 'url',index_url %}

                <li><a href="{{ index[0].url }}">{{ index[0].title }}</a>
                {% include navigation.html node=child_node %}</li>
            {% endunless %}
        {% else %}
            {% unless remainder == "index/" %}
                <li><a href="{{ module.url }}">{{ module.title }}</a></li>
            {% endunless %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
{% endcapture %}

{{ html | strip_newlines }}
