---
---

.jumbotron {
  background-color: #2d3e50;
  background-image: linear-gradient(120deg, #2d3e50, #18bc9c);
  color: white;
}

.nav-list, .nav-list ol {
  list-style-type: none;
  padding-left: 1em;
}

.nav-list a {
  &:not(.active) {
    color: black;
  }

  &.active::before {
    content: "» ";
  }
}
